*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a:link ,a:visited, a:active{
	text-decoration: none;

}

.principal_nav{

}

.principal_nav ul{
	float: right;
	display: flex;
	
}

.principal_nav ul li{
	margin: 20px;
}

.principal-header_btn{
	background-color: #C7F464;
	border-radius: 10px;
	width: auto;
	padding: 10px;
	color:#212B36;


}

.principal-header img{
	display: inline;
}

.principal-header_logo{
	display: inline;
	padding: 50px;
	margin: 100px 100px;
	background-image: url(../images/perro.jfif);
}

