*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a:link ,a:visited, a:active{
	text-decoration: none;

}

.principal_header{
	background-color: red;

}
.principal_nav{
padding: 10px;
}

.principal-nav_ul{
	
	float: right;
	display: flex;
	margin-top: 15px;
}

.principal-nav_ul li{
	margin: 20px;

}

.principal-header_btn{
	background-color: #C7F464;
	border-radius: 10px;
	width: auto;
	padding: 10px;
	color:#212B36;


}

.principal-header_logo{
	margin: 10px;
	width: 100px;
	height: 100px;
}





